<section class="hero is-fullheight sidebar" style={{color}}>
  <div class="hero-head">
    {{sidebar-time}}
    <section class="section">
      <h1 class="title"><strong>Upcoming Reservations</strong></h1>
      {{#if events}}
        {{#each events as |event|}}
          {{event-item event=event}}
        {{/each}}
      {{else}}
        <h1 class="subtitle">{{currentRoom}} has no events today</h1>
      {{/if}}
    </section>
  </div>
  <div class="hero-foot event-add">
    <section class="section">
      {{event-add}}
    </section>
  </div>
</section>
